{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Buzzni Survey</title>
    <link rel="shortcut icon" href="{% static 'resource/favicon.ico' %}">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <h1>설문조사</h1>
</header>

<div class="container">
    <div class="content">
        {% for reader in readers %}
            <div class="question-wrap">
                <div class="question" type="{{ reader.type }}">Q{{ forloop.counter }}. {{ reader.question }}</div>
                {% if reader.type == 'select' %}
                    <select class="form-control">
                        {% for item in reader.item %}
                            <option>{{ item }}</option>
                        {% endfor %}
                    </select>
                {% elif reader.type == 'checkbox' %}
                    <div class="checkbox" limit="{{ reader.limit }}">
                        {% for item in reader.item %}
                        <label class="checkbox-inline">
                          <input type="checkbox" name= "q{{ forloop.parentloop.counter }}-checkbox" value= "{{ item }}">
                          {{ item }}
                        </label>
                        {% endfor %}
                    </div>
                {% elif reader.type == 'radio' %}
                    <div class="radio">
                        {% for item in reader.item %}
                        <label>
                          <input type="radio" name="q{{ forloop.parentloop.counter }}-Radio" class="q{{ forloop.parentloop.counter }}-Radio" value="{{ item }}">
                          {{ item }}
                        </label>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
            <div class="phone-wrap">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="phoneNumber">※ 휴대폰 번호를 입력하시고 완료 버튼을 누르세요.</label>
                        <input type="text" class="form-control" id="phoneNumber" placeholder="휴대폰번호" maxlength="11">
                        <button type="submit" class="btn btn-primary vote" value="Vote">완료</button>
                    </div>
                </form>
            </div>
    </div> <!-- End Content -->
</div> <!-- End Container -->

<script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
<script type="text/javascript">var csrfmiddlewaretoken = "{{ csrf_token }}"</script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>
</html>