body {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    background-color: #F7F6F1;
}
h1 {
    margin:0; padding:0;
    line-height: 60px;
}
ol,ul {
    margin: 0; padding: 0;
    list-style: none;
    margin-top: 10px;
}

header {
    position: relative;
    width: 100%;
    height: 60px;
    text-align: center;
}
header .total {
    color: #312F2F;
    font-size: 0.4em;
    vertical-align: middle;
    margin-left: 10px;    
}
.container {
    margin-bottom: 15px;
}
.content {
    position: relative;
    width: 100%;
    background-color: white;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
}
.question-wrap, .phone-wrap {
    padding: 10px 20px 10px 20px;
    clear: both;
}
.question {
    font-size: 1.3em;
}
select.form-control {
    width: 80%;
    max-width: 300px;
    margin-top: 5px;
}

.radio label {
    margin-bottom: 5px;
    margin-right: 20px;
    min-width: 200px;
}
.checkbox label {
    margin-bottom: 5px;
    margin-right: 20px;
    min-width: 120px;
}

.checkbox-inline+.checkbox-inline {
    margin-left: 0px;

}
.phone-wrap .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.phone-wrap .form-control {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: auto;
}
/* Poll_Result */
ul.answer li {
    position: relative;
    width: 100%;
    height: 25px;
    clear: both;
}
ul.answer li > .key {
    position: relative;
    float: left;
    min-width: 200px;
    max-width: 250px;
    height: 25px;
    border: 1px solid #525050;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    background-color: #ADADAD;
}
.key .percent {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}
.key .text {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    color:white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    line-height: 22px;
}
ul.answer li > .value {
    position: relative;
    float: left;
    margin-left: 10px;
    line-height: 22px;
    font-weight: bold;
}

/* Color */
ul.answer li:nth-child(1) .percent{
    background-color: #22468B;
}
ul.answer li:nth-child(2) .percent{
    background-color: #AF1F2B;
}
ul.answer li:nth-child(3) .percent{
    background-color: #216D6D;
}
ul.answer li:nth-child(4) .percent{
    background-color: #1C484B;
}
ul.answer li:nth-child(5) .percent{
    background-color: #D0BEA8;
}
ul.answer li:nth-child(6) .percent{
    background-color: #F2A7CA;
}
ul.answer li:nth-child(7) .percent{
    background-color: #0A261C;
}
ul.answer li:nth-child(8) .percent{
    background-color: #F2B705;
}
ul.answer li:nth-child(9) .percent{
    background-color: #28201F;
}
ul.answer li:nth-child(10) .percent{
    background-color: #F27405;
}



